body {
    background: #effffc;
    height: 100vh;
    width: 100vw;
    
    /* Fonts */
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
    /* This will cneter the display box */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#app {
  background: #ffffff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.209), 0 2px 4px 0 rgba(0, 240, 52, 0.08);
  width: 85%;
  max-width: 600px;
  min-width: 400px;
}

h1 {
  color: #254243;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #6cb2eb;
  font-size: 1.25rem;
  transition: all 0.1s ease-in;
  margin-top: 0.5rem;
  display: block;
}

a:hover {
  color: #3490dc;
}

li {
  display: flex;
  align-items: center;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: #3d4852;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

p {
  display: block;
  margin-top: 0;
  padding: 0;
}

/* li:hover {
  color: #00b36e;
  background-color: #00b36e;
} */
li input {
  margin: 0 0.5rem;
}

.add-item-form,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.add-item-form input {
  min-width: 15%;
  max-width: 50%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f5f8;
  color: #606f7b;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin: 0.5rem 0;
}
.add-item-form select {
  min-width: 35%;
  max-width: 65%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f5f8;
  color: #606f7b;
  background-color: #fffefe;
  padding: 0.5rem 0.6rem;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin: 0.5rem 0;  
}
.add-item-form label {
  white-space: nowrap; /* This keeps the text on the same line*/
  
}

.btn {
  border: none;
  border-radius: 3px;
  margin: auto 0;
  padding: 0.5rem 0.75rem;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  transition: all 0.1s ease-in;
}
.btn[disabled] {
  background: #63686e7f;
}
.btn[disabled]:hover {
  background: #7e828488;
}

.btn-primary {
  background: #4b9bdc;
  color: #fff;
}
.btn-primary:hover {
  background: #3490dc;
}
.btn-primary:active {
  background: #0060ba
}

.btn-cancel {
  background: #ef5753;
  color: #fff;
}
.btn-cancel:hover {
  background: #e3342f;
  color: #fff;
}

.strikeout {
  text-decoration: line-through;
  color: #b8c2cc;
}
.strikeout:hover {
  color: #8795a1;
  background-color: #dedede1e;
}

/* LOW PRIORITY */
.lowpriority {
  color: #727272;
  transition: color 1s ease;    /* Fades from red to black*/
  transition: background-color 1s ease;    /* Fades from red to black*/
}
.lowpriority:hover {
  background-color: #c2f7ff54;
}
.lowpriority.strikeout {
  color: #9a9a9a;
}
.lowpriority.strikeout:hover {
    color: #767676;
    background-color: #dddddd14;
}

/* MEDIUM PRIORITY */
.mediumpriority {
  color: #254243;
  transition: color 0.5s ease;    /* Fades from red to black*/
  transition: background-color 1s ease;  /* Fades from red to black*/
}
.mediumpriority:hover {
  color: #000000;
  background-color: #e5e4e456;
  transition: color 0.5s ease;      /* Fades from red to black*/
}
.mediumpriority.strikeout {
  color: #9a9a9a;
}
.mediumpriority.strikeout:hover {
  color: #767676;
  background-color: #dddddd14;
}

/* HIGH PRIORITY */
.highpriority {
  color: #ff534d;
  transition: background-color 1s ease;    /* Fades from red to black*/
}
.highpriority:hover {
  /* color: #2e0200; */
  background-color: #ff938f82;
}
.highpriority.strikeout {
  color: #9a9a9a;
}
.highpriority.strikeout:hover {
  color: #767676;
  background-color: #dddddd14;
}

input[type="checkbox"] {
  display: inline !important;
  box-shadow: none;
  width: auto;
}

.title {
  display: inline;
}

.logo {
  display: inline;
  padding: 0 10px;
}

.taskstatus {
  display: inline-block;
  padding-left: 17%;
}